BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Time_reserved_by_doctor SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Server_reseved_time
	DROP CONSTRAINT PK_SERVER_RESEVED_TIME
GO
ALTER TABLE dbo.Server_reseved_time ADD CONSTRAINT
	PK_Server_reseved_time PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Server_reseved_time SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Doctor SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Doctor_appoinmet_time
	DROP CONSTRAINT PK_DOCTOR_APPOINMET_TIME
GO
ALTER TABLE dbo.Doctor_appoinmet_time ADD CONSTRAINT
	PK_Doctor_appoinmet_time PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Doctor_appoinmet_time ADD CONSTRAINT
	FK_Doctor_appoinmet_time_Doctor FOREIGN KEY
	(
	Id
	) REFERENCES dbo.Doctor
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Doctor_appoinmet_time SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Busy_time_1
	(
	[Id server] int NOT NULL,
	[Id doctor] int NOT NULL,
	[Id user] int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Busy_time_1 ADD CONSTRAINT
	PK_Busy_time_1 PRIMARY KEY CLUSTERED 
	(
	[Id server]
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Busy_time_1 ADD CONSTRAINT
	FK_Busy_time_1_Server_reseved_time FOREIGN KEY
	(
	[Id server]
	) REFERENCES dbo.Server_reseved_time
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Busy_time_1 ADD CONSTRAINT
	FK_Busy_time_1_Doctor_appoinmet_time FOREIGN KEY
	(
	[Id doctor]
	) REFERENCES dbo.Doctor_appoinmet_time
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Busy_time_1 ADD CONSTRAINT
	FK_Busy_time_1_Time_reserved_by_doctor FOREIGN KEY
	(
	[Id user]
	) REFERENCES dbo.Time_reserved_by_doctor
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Busy_time_1 SET (LOCK_ESCALATION = TABLE)
GO
COMMIT